<% if !user_signed_in? %>
<script>window.location="/landing"</script>
<% else %>
<script>document.title="CommitMatch | Dating with a purpose."</script>

<style>
    #personal_info_div{
        background-color:#d9d9d9;
        width:25%;
        left:1%;
        position:absolute;
        overflow-y:auto;
        height:83%;
        top: 85px;
        border-radius:20px;
        padding:30px;
        margin-bottom:20px;
    }
    
    #right_column_div{
        background:none;
        width:25%;
        left:71%;
        position:absolute;
        height:83%;
        top: 85px;
    }
    
    #stats_div{
        background-color:#d9d9d9;
        width:100%;
        left:0%;
        position:absolute;
        overflow-y:auto;
        height:44%;
        top:56%;
        border-bottom-right-radius:20px;
        border-bottom-left-radius:20px;
        padding:30px;
    }
    
    #notifs_div{
        background-color:#d9d9d9;
        width:100%;
        left:0%;
        position:absolute;
        overflow-y:auto;
        height:44%;
        top:0px;
        border-top-right-radius:20px;
        border-top-left-radius:20px;
        padding:30px;
        margin-bottom:20px;
    }
</style>

<!----------------------------------
---- Personal Information Column ---
----------------------------------->
<div id="personal_info_div">
    <img src="https://www.w3schools.com/css/img_forest.jpg" style="left: 50%; margin-left: -64px; position:absolute; background-color:#fff;border-radius:50%;border:4px solid #f2f2f2; width: 128px; height: 128px;" >
    <p style="background-color:#fff;border-radius:50%; width:60px; height: 60px;text-align:center;line-height:35px;font-size:23px;padding:10px;position:relative;top:70px;left:50%;margin-left:25px;"><b>Age</b><br>25</p>
    <p style="background-color:#fff;border-radius:50%; width:60px; height: 60px;text-align:center;line-height:60px;font-size:18px;padding:10px;position:relative;top:-30px;left:50%;margin-left:-95px;"><%= current_user.gender %></p>
        <center><p style="text-decoration:none;font-size:25px; position:relative; top:0px;"><b>@<%= current_user.username %></b></p></center>
        <center><p style="text-decoration:none;font-size:25px; position:relative; top:0px;color:#ff4d4d"><%= current_user.firstName %></p></center>
        <center><p style="text-decoration:none;font-size:25px; position:relative; top:0px;"><%= current_user.email %></p></center>
        <div class="divider" style="position:relative; top:0px;"></div>
        <center><p style="text-decoration:none;font-size:20px; position:relative; top:0px; line-height:35px;max-width:100%;"><b style="color:#00cc7a">Your Location<br></b><loc><%= current_user.city %>, <%= current_user.state %></loc></p></center>
        <div class="divider" style="position:relative; top:0px;"></div>
        <center><p style="text-decoration:none;font-size:20px; position:relative; top:0px; line-height:35px;max-width:100%;"><b style="color:#ff4d4d">Your Interests<br></b><intr>Soccer</intr> <intr>Bible</intr> <intr>Romance</intr> <intr>Food</intr> <intr>Water</intr> <intr>Kirk Cameron</intr> <intr>Fluffy bunnies</intr> <intr>Red Kangaroos</intr> <intr>Big Black Bears</intr></p></center>
        <div class="divider" style="position:relative; top:0px;"></div>
        <center><p style="text-decoration:none;font-size:20px; position:relative; top:0px; line-height: 35px;"><b style="color:#ff4d4d">Your Favorite Bible Verse</b><br><em>"In the beginning was the Word, and the Word was with God, and the Word was God. - John 1:1"</em></p></center>
                <div class="divider" style="position:relative; top:0px;"></div><br>
        <center><pt style="text-decoration:none;font-size:20px; position:relative; top:0px; line-height: 35px;"><b style="color:#ff4d4d">Your Denomination</b><br><intr style="padding-left:80px; padding-right: 80px;font-size:18px;"><%= current_user.denomination %></intr></pt></center>
        <center><button onclick="window.location='/edit_profile'" class="actButton" style = "top:20px; margin-bottom:25px; position:relative;text-align:center;">EDIT PROFILE</button></center>
    <div style="width:100%;height:1px;position:relative;top:20px;"></div>
</div>


<div id="right_column_div">
<!----------------------------------
--------- Statistics Column --------
----------------------------------->
<div id="stats_div">
    <center><h1 style="color:#ff4d4d; position:relative; top: 0px;">STATISTICS</h1></center>
</div>


<!----------------------------------
-------- Notifications Column ------
----------------------------------->
<div id="notifs_div">
    
</div>
</div>



     <%= render '/layouts/nav_user' %>
<% end %>